<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calebjang.multiapp">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ellie_pic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Home_Page"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Duel_Calculator"
            android:label="Duel Calculator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Picture_Page"
            android:label="Profile Page"
            android:parentActivityName=".Home_Page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Help_Page"
            android:label="Help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Night_Mode"
            android:label="Night Mode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Weather_Page"
            android:label="Weather" />
        <activity
            android:name=".Facebook_Page"
            android:label="Facebook Login" />
        <activity
            android:name=".Database"
            android:label="Database" />
        <activity android:name=".Workout_Page" />
        <activity android:name=".Workout_Details_Page" />
        <activity android:name=".Pizza_Page"></activity>
    </application>

</manifest>